name: Upload to sourceforge
on: 
  workflow_dispatch:
  push:

defaults:
  run:
    shell: bash

env:
  SF_USERNAME: ${{ secrets.SF_USER }}
  SF_PASSWORD: ${{ secrets.SF_PASWORD }}
  LINK: https://nfsproject.projek.workers.dev/0:/Evolution-X/rosy/evolution_rosy-ota-tp1a.220905.004.a2-10031805-unofficial-unsigned.zip
  UPLOAD: evolution-x-rosy/13

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo & checkout code
      uses: actions/checkout@v2

    - name: SSH agent
      uses: fastai/workflows/ssh@master
      with:
        ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
        key_file: frs.sourceforge.net

    - name: Download..
      run: |
        wget ${LINK}

    - name: Upload..
      run: |
        sshpass -p ${SF_PASSWORD} scp *.zip ${SF_USERNAME}@frs.sourceforge.net:/home/frs/project/${UPLOAD}
