name: Upload to sourceforge
on: 
  push:

defaults:
  run:
    shell: bash

env:
  SF_USERNAME: ${{ secrets.SF_USER }}
  SF_PASSWORD: ${{ secrets.SF_PASWORD }}
  LINK: https://nfsproject.projek.workers.dev/0:/VoltageOS/rosy/voltage-1.5-rosy-20220511-1354-UNOFFICIAL.zip
  FILE_NAME: voltage-1.5-rosy-20220511-1354-UNOFFICIAL.zip
  UPLOAD: voltageos/12

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repo & checkout code
      uses: actions/checkout@v2

    - name: SSH agent
      uses: fastai/workflows/ssh@master
      with:
        ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
        key_file: frs.sourceforge.net

    - name: Download..
      run: |
        wget ${LINK}

    - name: Upload..
      run: |
        sshpass -p ${SF_PASSWORD} scp ${FILE_NAME} ${SF_USERNAME}@frs.sourceforge.net:/home/frs/project/${UPLOAD}
