name: UbuntuSSH
on: 
  workflow_dispatch:
  push:
defaults:
  run:
    shell: bash
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
    - uses: fastai/workflows/ssh@master
      with:
        ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
        key_file: github.action
    - uses: actions/checkout@v2
    - name: Session Setup
      uses: mxschmitt/action-tmate@v3
      timeout-minutes: 240
      with:
        sudo: true
